@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Github</h1>
    <p class="lead">GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside millions of other developers. </p>
    <p><a href="https://github.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            How developers work
            Support your workflow with lightweight tools and features. Then work how you work best—we'll follow your lead.
        </p>
        <p><a class="btn btn-default" href="https://github.com/features">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bring GitHub to work</h2>
        <p>
            
            Securely develop your company’s software on GitHub, whether you work for a small startup or a large enterprise
        </p>
        <p><a class="btn btn-default" href="https://github.com/business">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's Github</h2>
        <p>Git ? Github ? Vertion management?</p>
        <p><a class="btn btn-default" href="https://blog.codecamp.jp/git-github">Learn more &raquo;</a></p>
    </div>
</div>